<template>
  <div class="dashboard">
    <v-container class="my-5">
      <v-layout row wrap class="justify-space-around align-center">
        <Card
          v-on:handleSubmit="submit($event)"
          class="ma-1"
          :taskToEdit="taskToEdit"
          :edit="edit"
        />
        <CardTable class="ma-1" :tasks="tasks" v-on:handleEditTask="editTask($event)" v-on:handleDeleteTask="deleteTask($event)"/>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import Card from "@/components/Card";
import CardTable from "@/components/CardTable";
export default {
  components: { Card, CardTable },
  mounted() {
    this.getTasks();
  },
  data() {
    return {
      tasks: [],
      taskToEdit: [],
      taskToDelete: [],
      edit: false
    };
  },
  methods: {
    getTasks() {
      axios
        .get("http://localhost:3000/tasks")
        .then(res => {
          this.tasks = res.data;
        })
        .catch(err => console.log(err));
    },
    submit(task) {
      if (this.edit) {
        // Update task
        axios({
          method: "PUT",
          url: "http://localhost:3000/tasks/" + this.taskToEdit._id,
          data: task,
          headers: {
            "Content-Type": "application/json",
          }
        }).then(res => {
          this.getTasks();
          this.edit = false;
        });
      } else {
        // Add task
        axios
          .post("http://localhost:3000/tasks", {
            title: task.title,
            description: task.description
          })
          .then(res => {
            this.getTasks();
          });
      }
    },
    editTask(taskId) {
      axios.get("http://localhost:3000/tasks/" + taskId).then(res => {
        this.taskToEdit = res.data;
        this.edit = true;
      });
    },
    deleteTask(taskId){
      axios({
        method: "DELETE",
        url: "http://localhost:3000/tasks/" + taskId,
        headers: {"Content-Type": "application/json"}
      }).then(res => {
        this.getTasks();
      })
        
    }
  }
};
</script>
