<template>
  <v-flex xs12 md4>
    <v-card>
      <v-card-title primary-title>
        <v-layout row wrap justify-center>
          <h3 class="headline">TODO TASK</h3>
        </v-layout>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-layout row wrap class="mx-3">
            <v-flex xs12>
              <v-text-field
                label="Title"
                prepend-icon="check"
                v-model="title"
                :rules="inputTitleRules"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-textarea
                label="Description"
                prepend-icon="edit"
                v-model="description"
                :rules="inputDescriptionRules"
              ></v-textarea>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-layout xs12 sm6 row wrap>
          <template v-if="edit">
            <v-btn block color="success" class="ma-3 mt-5" @click="submit">Update</v-btn>
          </template>
          <template v-else>
            <v-btn block color="success" class="ma-3 mt-5" @click="submit">Send</v-btn>
          </template>
          <v-dialog v-model="dialog" width="500">
            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>Success</v-card-title>
              <v-card-text>The task has been saved successfully.</v-card-text>
              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="dialog = false">I accept</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: ["taskToEdit", "edit"],
  watch: {
    taskToEdit: function(newVal) {
      this.title = newVal.title;
      this.description = newVal.description;
    }
  },
  data() {
    return {
      title: "",
      description: "",
      dialog: false,
      inputTitleRules: [v => !!v || "Title is required."],
      inputDescriptionRules: [v => !!v || "Description is required."]
    };
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.dialog = true;
        this.$emit("handleSubmit", {
          title: this.title,
          description: this.description
        });
      }
      this.$refs.form.reset()
      this.title = "";
      this.description = "";
    }
  }
};
</script>

