<template>
  <v-flex xs12 md7>
    <v-data-table :rows-per-page-items="rows" :headers="headers" :items="tasks" class="elevation-1">
      <template v-slot:items="props">
        <td class="text-xs-center">{{ props.item.title }}</td>
        <td class="text-xs-center">{{ props.item.description }}</td>
        <td>
          <div>
            <v-btn @click="handleEditTask(props.item._id)" color="teal" fab small dark>
              <v-icon>edit</v-icon>
            </v-btn>
          </div>
        </td>
        <td>
          <div>
            <v-btn @click="handleDeleteTask(props.item._id)" color="red" fab small dark>
              <v-icon>delete</v-icon>
            </v-btn>
          </div>
        </td>
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
export default {
  props: ["tasks"],
  data() {
    return {
      headers: [
        {
          text: "Title",
          align: "center",
          sortable: true,
          value: "title"
        },
        {
          text: "Description",
          align: "center",
          value: "description"
        }
      ],
      rows: [6]
    };
  },
  methods: {
    handleEditTask(taskId){
      this.$emit('handleEditTask', taskId)
    },
    handleDeleteTask(taskId){
      this.$emit('handleDeleteTask', taskId)
    }
  }
};
</script>
